<div class="page-header">
  <h3>Products by <%= @brand.name %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th><% if user_signed_in?%>Favorite<% end %></th>
        <th>Image</th>
        <th>Name</th>
        <th>Details</th>
      </tr>

      <% @brand.products.order("name ASC").each do |product| %>
      <tr>
        <td>
          <% if user_signed_in?%>
          <% if current_user.products.include?(product) %>
          <% favorite = current_user.favorites.find_by(:product_id => product.id) %>
          <a href="/delete_favorite/<%= favorite.id %>" class="btn btn-warning" rel="nofollow"><i class="fa fa-trash-o"></i></a>

          <% else %>
          <form action="/create_favorite" method="post">
            <!-- Hidden input for authenticity token to protect from forgery -->
            <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

            <!-- Label and input for product_id -->
            <input name="product_id" type="hidden" value="<%= product.id %>">

            <!-- Label and input for user_id -->
            <input name="user_id" type="hidden" value="<%= current_user.id %>">
            <button class="btn btn-success">
             <i class="fa fa-star"></i>
           </button>

           <% end %>
           <% else %>
           <% end %>
         </form>
       </td>
       <td><img src= "<%= product.image %>" width = "50"></td>
       <td><%= product.name %></td>
       <td>
         <a href="/products/<%= product.id %>" class="btn btn-warning"><i class="fa fa-binoculars"></i> Show</a>

         <% end %>
       </tr>
     </table>

     <div class="btn-group btn-group-justified">
      <a href="/brands" class="btn btn-primary btn-block">
        Back
      </a>
    </div>
  </div>
</div>
