<div class="page-header">
  <h3><%= @product.brand.name %>'s <%= @product.name %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Image</dt>
      <dd><img src= "<%= @product.image %>" width = "200"></dd>

      <dt>Delivery Type</dt>
      <dd><ul class="list-group">
       <li class="list-group-item">
         <%= @product.delivery.name %>
       </li>
     </ul></dd>

     <dt>Flavors Available</dt>
     <dd><ul class="list-group">
      <% @product.marketterms.order("name ASC").each do |marketterm| %>
      <li class="list-group-item">
        <%= marketterm.name %>
      </li>
      <% end %>
    </ul></dd>

    <dt>Allergens Present</dt>
    <dd><ul class="list-group">
      <% @product.allergens.each do |allergen| %>
      <li class="list-group-item">
        <%= allergen.name %>
      </li>
      <% end %>
    </ul></dd>

  </dl>

  <div class="btn-group btn-group-justified">
    <a href="/products" class="btn btn-primary">
      Back
    </a>
  </div>
</div>
</div>
